{% extends 'base.html' %}
{% block title %} Batafsil {% endblock title %}


{% block content %}



<div class="row">

    <article class="card shadow" style="width: 80%; margin: 10px auto; box-shadow: 1px 2px 1px 2px #ccc">

        <img src="{{ news.image.url }}" style="width: 50%" alt="">

        <h2>{{ news.title }}</h2>
        <p>{{ news.body }}</p>


    </article>


    {%  if request.user.is_authenticated and request.user.is_superuser  %}
    <div class="card-footer text-center">
            <a href="{% url 'news-edit' news.slug %}" class="btn btn-info">Tahrirlash</a>
            <a href="{% url 'news-delete' news.slug %}" class="btn btn-danger">O'chirish</a>
    </div>
    {% endif %}


</div>



{% endblock content %}